/* body{
    background-image: url("/static/gifs/background.gif");
    background-size: cover;
} */


#root {
    display: flex;
    flex-wrap: wrap;
    height:700px;
}

div.span{
    text-align: right;
    float: right;
}

button.left_side_up{
    font-weight: 1000;
    color: white;
    background-size: 10px 10px ;
    padding: 10px 10px;
    width: 100% ;
    height:  100%;
}

button.right_side_up{
    padding: 10px 10px;
    width: 100%;
    height: 100%;
}

div.right_side{
    width: 440px;
    height: 100%;
    display: flex;
    align-self: center;
    border: black 3px solid;
    background-size: 440px 700px;
    background-repeat: no-repeat;
}

div.left_side{
    background-color: white;
    width: 440px;
    height: 100%;
    display: flex;
    align-self: center;
    border: black 3px solid;
    background-size: 440px 700px;
    background-repeat: no-repeat;
    
}

div.btn-group{
    background-color: black;
    flex-direction: column;
    width: 200px;
}


div.side-click-left, div.side-click-right{
    background-color: black;
    color: white;
    font-size: larger;
    font-weight: 1000;
    text-align: center;
}


span.up-num{
    float: right;
}    


div.left_side_ups, div.left_side, div.right_side, div.right_side_ups{
    display: inline-block;
}