{% extends "layout.html" %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/game.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/modal.css') }}">

<script type="module" src="{{ url_for('static', filename='main.js') }}" defer></script>
{% endblock %}
{% block content %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <p class="navbar-brand">RACE CLICKER
            <div class="span">
                <a class="navbar-brand" href="{{url_for('logout')}}">Logout</a>
                <span class="navbar-brand">Logged as: {{session.username}}</span></p>
            </div>
    </nav>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#race-picker" hidden >
</button>
  
  <div class="modal fade" id="race-picker" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle"></h5>
        </div>
        <div class="modal-body">
          <button class="race" ></button>
          <button class="race" ></button>
          <button class="race" ></button>
          <button class="race" ></button>
        </div>
      </div>
    </div>
  </div>

  

<div class="container" id="root">
    <div class="btn-group", data-div-id="1">
        <button class="left_side_up" data-button-id="1" data-content="0"></button>
        <button class="left_side_up" data-button-id="2" data-content="0"></button>
        <button class="left_side_up" data-button-id="3" data-content="0"></button>
        <button class="left_side_up" data-button-id="4" data-content="0"></button>
        <button class="left_side_up" data-button-id="5" data-content="0"></button>
        <button class="left_side_up" data-button-id="6" data-content="0"></button>
        <button class="left_side_up" data-button-id="7" data-content="0"></button>
        <button class="left_side_up" data-button-id="8" data-content="0"></button>
        <button class="left_side_up" data-button-id="9" data-content="0"></button>
        <button class="left_side_up" data-button-id="10" data-content="0"></button>
    </div>


<div>
    <div class="left_side" type="button">
        <div class="click-area-background">
            <div class="side-click-left" hidden>
               Clicks: <span class="left-clicks"></span>
            </div>
        </div>    
    </div>
</div>



<div>
    <div class="right_side">
        <div class="click-area-background">
            <div class="side-click-right" hidden>
                Clicks: <span class="right-clicks"></span>
             </div>
        </div>
    </div>
</div>



    <div class="btn-group" , data-div-id="2">
        <button class="right_side_up" data-content="0" disabled> LOCKED</button>
        <button class="right_side_up" data-content="0" disabled> LOCKED</button>
        <button class="right_side_up" data-content="0" disabled> LOCKED</button>
        <button class="right_side_up" data-content="0" disabled> LOCKED</button>
        <button class="right_side_up" data-content="0" disabled> LOCKED</button>
        <button class="right_side_up" data-content="0" disabled> LOCKED</button>
        <button class="right_side_up" data-content="0" disabled> LOCKED</button>
        <button class="right_side_up" data-content="0" disabled> LOCKED</button>
        <button class="right_side_up" data-content="0" disabled> LOCKED</button>
        <button class="right_side_up" data-content="0" disabled> LOCKED</button>
    </div>

</div>
{% endblock %}