{% extends "layout.html" %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/game.css') }}">

{% endblock %}
{% block content %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <p class="navbar-brand">RACE CLICKER
            <div class="span">
                <a class="navbar-brand" href="{{url_for('logout')}}">Logout</a>
                <span class="navbar-brand">Logged as: {{session.username}}</span></p>
            </div>
    </nav>


<div class="container" id="root">
    <div class="btn-group">
        <button class="left_side_up" data-left-id=""> sword</button>
        <button class="left_side_up" data-left-id=""> training groung</button>
        <button class="left_side_up" data-left-id=""> here</button>
        <button class="left_side_up" data-left-id=""> here</button>
        <button class="left_side_up" data-left-id=""> here</button>
        <button class="left_side_up" data-left-id=""> here</button>
        <button class="left_side_up" data-left-id=""> here</button>
        <button class="left_side_up" data-left-id=""> here</button>
        <button class="left_side_up" data-left-id=""> here</button>
          <button class="left_side_up" data-left-id=""> here</button>
    </div>
<div>
    <div class="left_side">
        <div>....................................................................................................................................
        </div>    
    </div>
</div>

<div>
    <div class="right_side">
        <div>....................................................................................................................................        
        </div>
    </div>
</div>
    <div class="btn-group">
        <button class="right_side_up" data-right-id=""> here</button>
        <button class="right_side_up" data-right-id=""> here</button>
        <button class="right_side_up" data-right-id=""> here</button>
        <button class="right_side_up" data-right-id=""> here</button>
        <button class="right_side_up" data-right-id=""> here</button>
        <button class="right_side_up" data-right-id=""> here</button>
        <button class="right_side_up" data-right-id=""> here</button>
        <button class="right_side_up" data-right-id=""> here</button>
        <button class="right_side_up" data-right-id=""> here</button>
        <button class="right_side_up" data-right-id=""> here</button>
    </div>

</div>
{% endblock %}